// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book",arial,sans-serif 
	

// common blocks   

.out
	overflow: hidden 
	.header
		position: relative
		padding-bottom: 0
		color: #FFF 
		+background-image(linear-gradient(20deg, #66a1cc 0%, #4770b2 100%))
		.l-container
			height: 670px
			background: url("../img/img-top.png") no-repeat 0 153%
		.header__top
			+clr
		.logo
			float: left
			+s(logo)
		.header-nav
			float: left
			margin: 0 0 0 110px 
		.user-auth
			float: right
		.header-nav, .user-auth, .logo
			vertical-align: top
			display: inline-block
		.log-in
			padding: 0 30px 
			height: 36px
			font-size: 14px
			font-weight: 300 
			vertical-align: middle
			+border-radius(18px)
			border: 2px solid #557db3
			background: none
		.header__title
			margin: 45px 0 15px
			font-size: 52px
			font-family: Omnes, Arial,sans-serif 
		.header__text
			font-size: 18px
		.header__title, .header__text
			text-align: center

//.user-auth		
.user-auth
	.log-in
		padding: 0 30px 
		height: 36px
		font-size: 14px
		font-weight: 300 
		vertical-align: middle
		+border-radius(18px)
		border: 2px solid #557db3
		background: none

//.btn
.btn
	position: relative
	padding: 0 50px 0 28px 
	font-size: 14px
	font-weight: 300
	line-height: 38px  
	+border-radius(21px)
	&:before
		position: absolute
		content: ""
		top: 50%
		right: 25px
		margin-top: -6.5px
	&.btn_purple
		color: #7068AE 
		border: 2px solid #7068ae
		&:before
			+s(btn-purple)
	&.btn_blue
		border: 2px solid #5d71bb 
		color: #5D71BB 
		&:before
			+s(btn-blue)
	&.btn_multi
		color: #8F68AE 
		border: 2px solid #8f68ae
		&:before
			+s(btn-mult)
	&.btn_grey 
		color: #7A8A99
		border: 2px solid #7a8a99  
		&:before
			+s(btn-grey)

//network
.network
	position: relative
	padding: 20px 0
	font-size: 0
	z-index: 1
	background: url('../img/bg.png') repeat 0 0
	.network__block
		position: relative
		padding: 0 20px 0 85px
		width: 25%
		color: #C2C7CC 
		font-size: 12px
		display: inline-block
		+box
	.network__title
		color: #FFF 
		font-size: 16px
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
		font-weight: bold 
	.network__pic
		position: absolute
		left: 0
		top: 50%
		margin-top: -35px
		display: block
		&.network__pic_s
			+s(social-pic)
		&.network__pic_g
			+s(guide-pic)
		&.network__pic_m
			+s(hub-pic)
		&.network__pic_h
			+s(studio-pic)

//range
.range
	position: relative
	min-height: 735px
	+box
	// overflow: hidden
	&.range_duide
		.l-container_top
			background: url('../img/iPhone-tc.png') no-repeat 13% 295px
			.range__ico_clock
				+s(gop-pic)
			.range__ico_user
				+s(inst-pic)
			.range__ico_book
				+s(sche-pic)
			.range__title
				color: #5769AE 
	&.range_multi
		.l-container_top
			background: url('../img/iPhone-tc2.png') no-repeat 88% 295px
			.range__ico_clock
				+s(sche-pic2)
			.range__ico_user
				+s(inst-pic2)
			.range__ico_book
				+s(gop-pic2)
			.range__title
				color: #8f68ae
	&.range__hub
		.range__col
			background: url('../img/iPhonebot.png') no-repeat 0% 220px
		.l-container
			.range__ico_clock
				+s(step-pic3)
			.range__ico_user
				+s(liveap-pic)
			.range__ico_book
				+s(fullm-pic3)
			.range__title
				color: #7a8a99
	.l-container
		padding-bottom: 93px
		+clr
	.l-container_top
		background: url('../img/iPhone-top.png') no-repeat 88% 295px
	.range__bg
		position: absolute
		top: -1.8%
		left: -2%
		height: 100%
		width: 104%
		overflow: hidden
		background: #E8E6F7 
		+rotate(-1.9)
		&.range__bg_top
			top: -4%
			height: 104%
		&.range__bg_guide
			background: #edf0fa 
		&.range__bg_multi
			background: #F4EDF9 
		&.range__hub
			background: #F4F8FB 
	.range__shad
		position: absolute
		top: -100px
		left: 50%
		margin-left: -50px 
		height: 100px
		width: 100px
		background: #FFF
		opacity: 0.8
		z-index: 1
		+box-shadow(0 0 1000px 750px #fff)
		+border-radius(50%)
	.range__col
		position: relative
		z-index: 10
		.btn
			margin-top: 15px
	.range__netw
		padding-top: 60px
		color: #36434C 
		text-align: center
		font-size: 20px
		.range__img 
			display: inline-block
			&.range__img_soc
				+s(soc-pic2)
			&.range__img_duide
				+s(gui-pic2)
			&.range__img_multi
				+s(mul-pic)
			&.range__img_hub
				+s(fullm-pic3)
		.range__title	
			font-weight: 300 
			font-size: 40px
			color: #7068AE 
			font-family: Omnes,Arial,sans-serif
	.range__title2
		font-size: 15px
		font-weight: 700
		color: #36434C 
	.range__left, .range__right
		padding: 0 20px 0 75px 
		width: 50%
	.range__left
		float: left
	.range__right
		float: right
	.range__row
		position: relative
		margin-bottom: 30px 
		padding-left: 100px
		&:first-child
			margin-top: 90px
	.range__ico 
		position: absolute
		top: -4px
		left: 0
		&.range__ico_clock
			+s(privat-pic)
		&.range__ico_user
			+s(att-pic)
		&.range__ico_book
			+s(aco-pic)


//calendar
.calendar
	position: relative
	margin-top: -35px
	padding: 42px 0 55px 
	color: #FFF 
	font-weight: 100 
	font-size: 18px
	text-align: center
	z-index: 3
	+background-image(linear-gradient(right, #8f67ad 0%, #5569ad 100%))
	.calendar__top
		margin-bottom: 12px
		font-size: 36px
		font-family: Omnes, Arial,sans-serif 
	.calendar__block
		margin-top: 35px
		
//cycle
.cycle
	padding: 55px 0
	background: url('../img/bg.png') repeat 0 0
	.cycle__title
		color: #FFF 
		font-size: 42px
		text-align: center
		font-family: Omnes, Arial,sans-serif  
	.cycle__title2
		color: #FFF 
		font-size: 22px
		font-weight: 100 
		text-align: center
	.cycle-slideshow
		margin: 50px 0 35px
		min-height: 143px 
	.cycle__block
		width: 100%
		color: #6c7480
		font-size: 14px
	.cycle__img
		float: left
		width: 354px
		img
			margin: 0 auto
			display: block
	.cycle__top
		padding-bottom: 10px
		color: #fff 
		font-size: 18px
	.cycle-pager
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		line-height: 10px 
		z-index: 200 
		text-align: center
		button
			margin-left: 10px
			height: 8px
			width: 8px
			vertical-align: middle
			border: 2px solid #525c67
			background: none
			display: inline-block
			+border-radius(50%)
			&.is-active
				width: 10px
				height: 10px
				background: #525C67 
	.cycle__nav
		position: absolute
		top: 50%
		z-index: 200
		margin-top: -31px
		&:hover
			opacity: 0.8
	.cycle__nav_prev
		left: 0
		+s(arrow-prev)
	.cycle__nav_next
		right: 0
		+s(arrow-next)
	.cycle__row
		margin-top: 20px
		font-size: 0
	//input
	.input
		margin-right: 1.25%
		min-width: 150px
		width: 24%
		display: inline-block
		input
			padding: 0 14px 
			width: 100%
			height: 40px
			font-size: 14px
			vertical-align: middle
			background: #FFF 
			+border-radius(8px)
			+placeholder-color(#9ea1a6)
			+box
	.btn-submit
		min-width: 150px
		width: 24%
		height: 40px
		color: #FFF
		font-weight: bold  
		text-align: center
		vertical-align: middle
		background: #3D91CC 
		+border-radius(8px)

@media only screen and (max-width: 900px)
	.out
		.header .l-container
			width: 100% !important
			background: url("../img/img-top.png") no-repeat 50% 153% 
		.header-nav
			top: 10%
			// height: 100% 
			margin-left: 0 !important
		.header__title
			margin-top: 82px !important 
		.range .range__left, .range .range__right
			width: 100%
		// .range .l-container
		// 	padding-bottom: 136px
		.input
			margin-bottom: 1.25%
		.network__block
			margin-bottom: 20px
			width: 50%
		.cycle__block
			padding: 40px
			text-align: center
			+box
		.cycle__img
			margin-bottom: 15px
			width: 100%
		.cycle__row
			text-align: center